# import libraries

In [30]:
import pandas as pd
import json
import os

# Data Extraction

In [31]:
path1 = "C:/Users/rohit/Desktop/review-2/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list = os.listdir(path1)

col1 = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [],
        'Transaction_amount': []}
for i in Agg_state_list:
    p_i = path1 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            A = json.load(Data)
            for z in A['data']['transactionData']:
                Name = z['name']
                count = z['paymentInstruments'][0]['count']
                amount = z['paymentInstruments'][0]['amount']
                col1['Transaction_type'].append(Name)
                col1['Transaction_count'].append(count)
                col1['Transaction_amount'].append(amount)
                col1['State'].append(i)
                col1['Year'].append(j)
                col1['Quater'].append(int(k.strip('.json')))
df_aggregated_transaction = pd.DataFrame(col1)

In [19]:
print(df_aggregated_transaction)

                          State  Year  Quater          Transaction_type  \
0     andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1     andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
2     andaman-&-nicobar-islands  2018       1         Merchant payments
3     andaman-&-nicobar-islands  2018       1        Financial Services
4     andaman-&-nicobar-islands  2018       1                    Others
...                         ...   ...     ...                       ...
3589                west-bengal  2022       4     Peer-to-peer payments
3590                west-bengal  2022       4         Merchant payments
3591                west-bengal  2022       4  Recharge & bill payments
3592                west-bengal  2022       4        Financial Services
3593                west-bengal  2022       4                    Others

      Transaction_count  Transaction_amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
3589          184380244        6.202222e+11
3590          171667404        1.408077e+11
3591           48921147        2.602663e+10
3592             268388        2.611229e+08
3593             610414        4.579379e+08

[3594 rows x 6 columns]

In [20]:
path2 = "C:/Users/rohit/Desktop/review-2/pulse/data/aggregated/user/country/india/state/"
user_list = os.listdir(path2)

col2 = {'State': [], 'Year': [], 'Quater': [], 'brands': [], 'Count': [],
        'Percentage': []}
for i in user_list:
    p_i = path2 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            B = json.load(Data)
            try:
                for w in B["data"]["usersByDevice"]:
                    brand_name = w["brand"]
                    count_ = w["count"]
                    ALL_percentage = w["percentage"]
                    col2["brands"].append(brand_name)
                    col2["Count"].append(count_)
                    col2["Percentage"].append(ALL_percentage)
                    col2["State"].append(i)
                    col2["Year"].append(j)
                    col2["Quater"].append(int(k.strip('.json')))
            except:
                pass
df_aggregated_user = pd.DataFrame(col2)

In [21]:
print(df_aggregated_user)

                          State  Year  Quater   brands    Count  Percentage
0     andaman-&-nicobar-islands  2018       1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018       1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018       1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018       1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018       1  OnePlus      332    0.049258
...                         ...   ...     ...      ...      ...         ...
6727                west-bengal  2022       1   Lenovo   330017    0.015056
6728                west-bengal  2022       1  Infinix   284678    0.012987
6729                west-bengal  2022       1     Asus   280347    0.012790
6730                west-bengal  2022       1    Apple   277752    0.012671
6731                west-bengal  2022       1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [22]:
path3 = "C:/Users/rohit/Desktop/review-2/pulse/data/map/transaction/hover/country/india/state/"
hover_list = os.listdir(path3)

col3 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'count': [],
        'amount': []}
for i in hover_list:
    p_i = path3 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            C = json.load(Data)
            for x in C["data"]["hoverDataList"]:
                District = x["name"]
                count = x["metric"][0]["count"]
                amount = x["metric"][0]["amount"]
                col3["District"].append(District)
                col3["count"].append(count)
                col3["amount"].append(amount)
                col3['State'].append(i)
                col3['Year'].append(j)
                col3['Quater'].append(int(k.strip('.json')))
df_map_transaction = pd.DataFrame(col3)

In [23]:
print(df_map_transaction)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
14631                west-bengal  2022       4
14632                west-bengal  2022       4
14633                west-bengal  2022       4
14634                west-bengal  2022       4
14635                west-bengal  2022       4

                                District     count        amount
0      north and middle andaman district       442  9.316631e+05
1                 south andaman district      5688  1.256025e+07
2                      nicobars district       528  1.139849e+06
3      north and middle andaman district       825  1.317863e+06
4                 south andaman district      9395  2.394824e+07
...                                  ...       ...           ...
14631                     nadia district  12690126  2.804568e+10
14632                   birbhum district   7617444  1.614650e+10
14633           purba medinipur district  14484229  3.309949e+10
14634                    maldah district  12492746  2.721861e+10
14635                 darjiling district   8827502  1.801650e+10

[14636 rows x 6 columns]

In [24]:
path4 = "C:/Users/rohit/Desktop/review-2/pulse/data/map/user/hover/country/india/state/"
map_list = os.listdir(path4)

col4 = {"State": [], "Year": [], "Quater": [], "District": [],
        "RegisteredUser": []}
for i in map_list:
    p_i = path4 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            D = json.load(Data)

            for u in D["data"]["hoverData"].items():
                district = u[0]
                registereduser = u[1]["registeredUsers"]
                col4["District"].append(district)
                col4["RegisteredUser"].append(registereduser)
                col4['State'].append(i)
                col4['Year'].append(j)
                col4['Quater'].append(int(k.strip('.json')))
df_map_user = pd.DataFrame(col4)

In [25]:
print(df_map_user)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
14635                west-bengal  2022       4
14636                west-bengal  2022       4
14637                west-bengal  2022       4
14638                west-bengal  2022       4
14639                west-bengal  2022       4

                                District  RegisteredUser
0      north and middle andaman district             632
1                 south andaman district            5846
2                      nicobars district             262
3      north and middle andaman district             911
4                 south andaman district            8143
...                                  ...             ...
14635                     nadia district         1359420
14636                   birbhum district          855236
14637           purba medinipur district         1346908
14638                    maldah district          954892
14639                 darjiling district          564562

[14640 rows x 5 columns]

In [26]:
path5 = "C:/Users/rohit/Desktop/review-2/pulse/data/top/transaction/country/india/state/"
TOP_list = os.listdir(path5)

col5 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'Transaction_count': [],
        'Transaction_amount': []}
for i in TOP_list:
    p_i = path5 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            E = json.load(Data)
            for z in E['data']['pincodes']:
                Name = z['entityName']
                count = z['metric']['count']
                amount = z['metric']['amount']
                col5['District'].append(Name)
                col5['Transaction_count'].append(count)
                col5['Transaction_amount'].append(amount)
                col5['State'].append(i)
                col5['Year'].append(j)
                col5['Quater'].append(int(k.strip('.json')))
df_top_transaction = pd.DataFrame(col5)

In [27]:
print(df_top_transaction)

                          State  Year  Quater District  Transaction_count  \
0     andaman-&-nicobar-islands  2018       1   744101               1622
1     andaman-&-nicobar-islands  2018       1   744103               1223
2     andaman-&-nicobar-islands  2018       1   744102                969
3     andaman-&-nicobar-islands  2018       1   744105                685
4     andaman-&-nicobar-islands  2018       1   744104                340
...                         ...   ...     ...      ...                ...
7134                west-bengal  2022       4   722101            2900058
7135                west-bengal  2022       4   700135            2471048
7136                west-bengal  2022       4   732101            2407008
7137                west-bengal  2022       4   700091            2348447
7138                west-bengal  2022       4   711101            1765314

      Transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
7134        5.748321e+09
7135        3.527457e+09
7136        5.052109e+09
7137        2.176640e+09
7138        4.048329e+09

[7139 rows x 6 columns]

In [28]:
path6 = "C:/Users/rohit\Desktop/review-2/pulse/data/top/user/country/india/state/"
USER_list = os.listdir(path6)

col6 = {'State': [], 'Year': [], 'Quater': [], 'District': [],
        'RegisteredUser': []}
for i in USER_list:
    p_i = path6 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            F = json.load(Data)
            for t in F['data']['pincodes']:
                Name = t['name']
                registeredUser = t['registeredUsers']
                col6['District'].append(Name)
                col6['RegisteredUser'].append(registeredUser)
                col6['State'].append(i)
                col6['Year'].append(j)
                col6['Quater'].append(int(k.strip('.json')))
df_top_user = pd.DataFrame(col6)

In [ ]:
print(df_top_user)